clip
dataset
einops
evar
fire
librosa==0.10.2.post1
matplotlib
msclap==1.3.4
nnAudio==0.3.3
numpy==1.26.4
pandas
PyYAML
ruamel.base
ruamel.yaml
scikit_learn
scipy
timm
torchlibrosa==0.1.0
sentence_transformers
tqdm==4.67.1
transformers==4.57.1

